
@{
    ViewData["Title"] = "AccountNotFound";
}


<div class="panel panel-danger col-md-12 bank">
    <div class="panel-heading">
        <h3>Information</h3>
    </div>
    <div class="panel-body">
        <h2>Kontot hittades inte</h2>
    </div>
</div>



