@model List<Johannas_Bank.BankModels.Customer>
@{
    ViewData["Title"] = "Johannas Bank";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Välkommen till Johannas bank</h2>
    </div>
</div>

<div class="row">
    

    <div class="col-md-6 col-md-offset-3">
        <h2>Customers</h2>
        <ul>
            @foreach (var customer in Model)
            {
                <li>@customer.Name - @customer.Account.Balance kr </li>
            }
        </ul>
    </div>

</div>
